.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 4rem 1rem;

  @media (min-width: 640px) {
    padding: 4rem 1.5rem;
  }

  @media (min-width: 1024px) {
    padding: 4rem 2rem;
  }
}

.title {
  font-family: "dh";
  font-weight: lighter;
  font-size: 4.5rem;
  margin-bottom: 3rem;
  letter-spacing: 0.08em;
  text-align: center;
  color: #582c04;

  @media (max-width: 768px) {
    font-size: 3rem;
  }
}

.introduction {
  font-size: 1.5rem;
  line-height: 1.75;
  color: #582c04;
  max-width: 90%;
  margin: 0 auto 4rem;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 1.25rem;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #E5E7EB;
  margin: 4rem 0;
}

.missionWrapper {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem;
}

.mission {
  font-size: 1.25rem;
  line-height: 1.75;
  color: #582c04;
  max-width: 60%;
  text-align: right;

  @media (max-width: 768px) {
    max-width: 100%;
    text-align: center;
  }
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

