@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0px;
  background-color: rgb(24, 24, 24);
}
@font-face {
  font-family: 'Caveat';
  src: url('/public/fonts/Caveat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}